[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	rebase = false
[fetch]
	prune = true
[tag]
	gpgSign = false
[commit]
	gpgsign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = false
[credential]
	helper = store
[include]
	path = ~/.gitconfig.local
