[gpg]
	format = ssh
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIB5Hrh6ggf1liY/+ntUv9uMmCgsBB4e+hyPuh0sXCis theoutervoid@outlook.com
	email = theoutervoid@outlook.com
	name = Justadudeinspace
[commit]
	gpgsign = false
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
